- domain = "http://info@kokundaycare.com.mx/"
- domain = ""

doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Red M
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
		link(rel="stylesheet" href="https://unpkg.com/buefy@0.5.0/lib/buefy.min.css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet/less", type="text/css", href="app/app.less")
		
		script(src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js")
		
		
	body
	

		

		section.section
			.container.has-text-centered
				h1.maintitle.is-size-1.animated.bounceIn Celebremos hoy y siempre contigo
				img(src="app/img/pastel.png", alt="Celebreamos hoy y siempre contigo").animated.zoomIn
				


		div#app
			b-loading(:active.sync="startLoading")
			section.section: .container.has-text-centered
				h2.is-size-3 Felicidades a nuestros Socios que cumplen años en el mes de #[strong {{currentMonth}}]

			.container

				.hero.is-warning: .hero-body: .container.has-text-centered: h1.title SOCIOS ORO
				section.section: .columns.is-multiline
					div(v-for="(sociosEnDia, indx) in sociosPerDay").column.is-3
						.notification.is-warning.animated.wobble
							.media
								.media-left: figure.image.is-32x32: img(v-bind:src="'app/img/partyicons/'+randomImage()").animated.infinite.jello
								.media-content: .content: h3.is-size-4 {{indx}} de {{currentMonth}}
							ul
								li(v-for="soc in sociosEnDia" v-if="soc.Tipo=='Oro'")
									.media
										.media-left: b-icon(icon="face")
										.media-content: span {{soc.Nombre.toUpperCase()}}
					.column.has-text-centered
						.notification.is-warning
							h2.is-size-2 ¡¡Feliz Cumpleaños!!<br>Socios Oro
							img(src="app/img/triangle.svg").is-fluid

				.hero.is-success: .hero-body: .container.has-text-centered: h1.title SOCIOS PLATA
				section.section: .columns.is-multiline
					div(v-for="(sociosEnDia, indx) in sociosPerDay").column.is-3
						.notification.is-success.animated.wobble
							.media
								.media-left: figure.image.is-32x32: img(v-bind:src="'app/img/partyicons/'+randomImage()").animated.infinite.jello
								.media-content: .content: h3.is-size-4 {{indx}} de {{currentMonth}}
							ul
								li(v-for="soc in sociosEnDia" v-if="soc.Tipo=='Plata'")
									.media
										.media-left: b-icon(icon="face")
										.media-content: span {{soc.Nombre.toUpperCase()}}
					.column.has-text-centered
						.notification.is-success
							h2.is-size-2 ¡¡Feliz Cumpleaños!!<br>Socios Plata
							img(src="app/img/star.svg").is-fluid

					

		script(src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js")
		script(src="https://unpkg.com/vue@2.4.2/dist/vue.min.js")
		script(src="https://unpkg.com/buefy")
		script(src="app/app.js")
		
