

img.is-fluid{
    max-width: 200px;
}

h1.maintitle{
    color:#107D35;
    font-weight: bold;
}


.text-warning{ color:#FFDD57;}
.text-light { color: #363636; }

ul{
    li{
        font-size: 0.9em;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        &:nth-child(even){
            font-weight: bold;
        }
        &:last-child{
            border-bottom: none;
        }
        i{opacity: 0.5;}
    }
}








@gps-burg:           rgba(182, 15, 97, 0.9);
@gps-orange:         rgba(242, 112, 45, 0.9);
@gps-skyblue:        rgba(45, 181, 167, 0.9);
@gps-purple:         rgba(190, 61, 244, 0.9);
@gps-green:          rgba(180, 224, 67, 0.9);
@gps-yellow:         rgba(242, 194, 58, 0.9);
 
 



